html{box-sizing:border-box;}
*,*:before,*:after{box-sizing:inherit;}


body {
	margin:0;
	background-color:#FAF9F5;
}
#topBar {
	padding:12px 0;
	display:flex;
	border-bottom:1px solid rgba(0,0,0,0.2);
	background-color:white;
}

#topBarLeft {
	display:flex;
	float:left;
	clear:left;
	align-items:center;
}
#logo {
	width:75px;
	height:auto;
	margin-right:20px;
	margin-left:30px;
	position:relative;
	top:2px;
}

#searchBar input[type=text] {
	width:400px;
	height:35px;
	line-height:20px;
	background:none;
	border-radius:3px 0 0 3px;
	border:1px solid rgba(150, 150, 150, 0.5);
	padding-left:7px;
	font-size:15px;

}

#searchBar input[type=text]:focus {
	box-sizing:border-box;
	border:1px solid #666;
	outline:none;
}

#searchBar button {
	width:70px;
	height:35px;
	line-height:35px;
	background-color:#3CB1CB;
	border:none;
	color:white;
	text-align:center;
	font-size:15px;
	padding:0;
	margin:0;
	border-radius:0 3px 3px 0;
	cursor:pointer;
	position:relative;
	left:-5px;
}


#topBarRight {
	float:right;
	clear:right;
	display:flex;
	position:relative;
	left:450px;
}

#topBarRight ul{
	list-style-type:none;
	display:flex;
}

#sellOnEtsy {
	margin:0 7px;
	height:35px;
	text-align:center;
	line-height:35px;

}

#register {
	margin:0 7px;
	height:35px;
	text-align:center;
	line-height:35px;
}
#signIn {
	border:1px solid #0192B5;
	margin:0 10px 0 7px;
	margin-right:15px;
	height:35px;
	width:70px;
	text-align:center;
	line-height:35px;
	border-radius:3px;
}

#signIn a , #register a , #sellOnEtsy a{
	text-decoration:none;
	font-family:sans-serif;
	font-size:14px;
	color:#0192B5;
}

#cartIcon {
	display:flex;
	height:50px;
	flex-direction:column;
	justify-content:center;
	border-left:1px solid rgba(0,0,0,0.1);
	position:relative;
	top:8px;
}

#cartIcon a img {
	width:25px;
	opacity:0.5;
	margin-left:10px;
	cursor:pointer;
}

#cartIcon label {
	font-family:sans-serif;
	font-size:12px;
	padding-left:2px;
	color:rgb(100,100,100);
	margin-left:10px;
	cursor:pointer;
}

#navBar {
	height:40px;
	border-bottom:1px solid rgba(50,50,50,0.2);
	box-shadow:0 2px rgba(125,125,125,0.06);;
	background-color:white;

}

#navBar ul{
	margin:0;
	padding-left:20px;
	display:flex;
	list-style-type:none;
}

#navBar ul li a {
	height:40px;
	padding:0 10px;
	font-family:sans-serif;
	font-size:14px;
	line-height:40px;
	text-decoration:none;
	color:#777777;

}

#navBar ul li a:hover {
	color:rgb(50,50,50);
}

.mainSection {
	background-color:#FAF9F5;
	display:flex;

}

/*//////////////////////////////////////////
/////////////SIDE PANEL STYLING/////////////
//////////////////////////////////////////*/

#sidePanel {
	width:250px;
	height:1343px;
	background-color:#fff;
	margin:0 0 0 37px;
	font-family:sans-serif;
	margin-top:30px;
	border:1px solid rgba(125,125,125,0.2);
}

.sideSectionHeader {
	font-size:14px;
	font-weight:bold;
	color:rgb(80,80,80);
	margin:7px 0 2px 5px;
}

.sidePanelSpaceLine {
	padding:15px;
	height:0px;
	border-bottom:1px solid rgba(125,125,125,0.2);
}

#sidePanel #sidePanelCategories {
	padding:10px;

}


#sidePanel #sidePanelCategories ul {
	list-style-type: none;
	padding-left:20px;
	margin:0;
}

#sidePanel #sidePanelCategories ul li{
	margin:7px 0;
}

#sidePanel #sidePanelCategories ul #lastCategory {
	margin-bottom:0;
}

#sidePanel #sidePanelCategories ul li a{
	font-size:14px;
	text-decoration:none;
	color:rgba(70,70,70,0.8);
	cursor:pointer;

}

#sidePanel #sidePanelCategories ul li a:hover{
	text-decoration:underline;
}


#sidePanelForm {
	padding:5px 10px;
	font-size:14px;
}


#sidePanelForm label {
	font-size:14px;

	color:rgba(70,70,70,0.8);
	cursor:pointer;
}

#sidePanelForm input[type=radio]{
	cursor:pointer;
	margin-left:10px;
}

#sidePanelForm .radioSection{
	display:block;
	font-size:14px;
}

#sidePanelForm .radioSection div {
	margin:5px 0;
}
#sidePanelForm .radioSection #customLocation #locationSearch {
	display:flex;
	margin-top:5px;
	margin-left:30px;
}

#sidePanelForm .radioSection input[type = text] {
	width:140px;
	height:35px;
	border:none;
	border:1px solid rgba(75,75,75,0.2);
	border-radius:3px;
	font-size:14px;
	padding-left:10px;
}

#sidePanelForm .radioSection input[type = text]:focus , #sidePanelForm .radioSection button:focus{
	border:1px solid rgb(75,75,75);
	outline:none;
}

#sidePanelForm .radioSection button {
	height:35px;
	width:35px;
	margin-left:5px;
	color:#444;
	background-color:white;
	border:none;
	border:1px solid rgba(75,75,75,0.2);
	border-radius:3px;
	cursor:pointer;
}



#itemType {
	margin-top:15px;
}

#itemType #itemTypeRadio {
	display:flex;
	flex-direction:column;
}

#itemType #itemTypeRadio div {
	display:block;
	margin-top:5px;
	color:rgba(70,70,70,.8);
}

#itemPrice {
	margin-top:15px;
}

#itemPrice div {
	margin-top:5px;
}

#itemPrice #customPriceRadio #customPriceSearch{
	display:flex;
	margin-left:35px;
}

#itemPrice #customPriceRadio #customPriceSearch input[type=text] {
	width:65px;
	height:35px;
	border:1px solid rgba(75,75,75,0.2);
	border-radius:3px;
	line-height:35px;
	padding-left:15px;
	font-size:13px;
}

#itemPrice #customPriceRadio #customPriceSearch p {
	margin:0 5px;
	line-height:35px;
	font-size:13px;
}

#itemPrice #customPriceRadio #customPriceSearch button {
	height:35px;
	width:35px;
	color:#444;
	background-color:white;
	border:1px solid rgba(75,75,75,0.2);
	margin-left:5px;
}

#itemPrice #customPriceRadio #customPriceSearch input[type=text]:focus , #itemPrice #customPriceRadio #customPriceSearch button:focus {

	border:1px solid rgb(75,75,75);
	outline:none;
}


#colorFilter p{
	margin-top:15px;
}

#colorFilter ul {
	list-style-type:none;
	display:flex;
	padding:0;
	justify-content:center;
}



#colorFilter ul li{
	height:22px;
	width:22px;
	border:1px solid rgba(75,75,75,.2);
	border-radius:2px;
	margin:0 2px;
	cursor:pointer;
}

#colorFilter ul #red {
	background-color:#F40B32;
}

#colorFilter ul #orange {
	background-color:#FF7F00;
}

#colorFilter ul #yellow {
	background-color:#F3CC0C;
}

#colorFilter ul #green {
	background-color:#0AC20A;
}

#colorFilter ul #blue {
	background-color:#0CCCF3;
}

#colorFilter ul #purple {
	background-color:#A60CF3;
}

#colorFilter ul #black {
	background-color:black;
}

#colorFilter ul #white {
	background-color:white;
}

#orderingOptions p {
	margin-top:15px;
}

#orderingOptions ul{
	list-style-type:none;
	padding:0;
}

#orderingOptions ul li {
	margin-left:10px;
}

#orderingOptions ul li input[type=checkbox] {
	height:16px;
	width:16px;
	border:1px solid rgba(75,75,75,.2);
	border-radius:2px;
}

#orderingOptions label {
	font-size:14px;
	color:rgba(70,70,70,0.8);
	

}

#orderingOptions label:hover {
	text-decoration:underline;
}


#shipWhere p {
	margin-top:15px;
}

#shipWhere select {
	display:flex;
	width:100%;
	height:35px;
	margin-top:10px;
	margin-bottom:5px;
	background-color:white;
	border:1px solid rgba(75,75,75,0.02)
	border-radius:1px;
	font-size:14px;
	outline:none;
}

#shipWhere select:hover {
	border:1px solid #666;
	outline:none;
}

#shipWhere select:active {
	border:1px solid #666;
	outline:none;
}

#shipWhere select:visited{
	border:1px solid rgba(75,75,75,0.2)
	outline:none;
}


/*//////////////////////////////////////////////
/////////////SEARCH RESULTS STYLING/////////////
//////////////////////////////////////////////*/


#resultsArea {
	width:1100px;
	margin:30px 20px;
	font-family:arial,sans-serif;
	display:flex;
	flex-direction:column;
}

#topCategoriesHeader {
	color:#222;
	font-size:17px;
	margin:0;
	margin-left:10px;
}

#topCatResults {
	width:1100px;
	height:500px;
}

#topCatResults ul {
	list-style-type:none;
	padding:0;
	margin:0;
}
#topCatTopRow {
	/*display:flex;
	flex-direction:row;*/

	display:inline-block;
	height:360px;
}

#topCat1 , #topCat2 , #topCat3 {
	width:350px;
	height:285px;
	background-color:black;
	margin:5px 10px 10px 10px;
	justify-content:space-between;
	flex-grow:1;
	border-radius:3px;
	text-align:center;
}

#topCat2 {
	position:relative;
	left:370px;
	top:-295px;
}

#topCat3 {
	position:relative;
	left:740px;
	top:-590px;
}

.thumbnailInfo {
	display:inline-block;
	border-radius:3px;
	position:relative;
	top:210px;
}
.thumbnailTitle {
	margin-bottom:0px;
	margin-top:3px;
	text-align:center;
	padding:5px 15px 0 15px;
}

.thumbnailNumItems {
	margin-bottom:3px;
	margin-top:0;
	text-align:center;
	padding:0 15px 5px 15px;
}
#topCat1 .thumbnailInfo , #topCat2 .thumbnailInfo , #topCat3 .thumbnailInfo{
	background-color:white;
	margin:0px;
}

#topCatBottomRow {
	display:flex;
	justify-content:space-between;
	position:relative;
	top:-330px;
}

#topCat4, #topCat5, #topCat6, #topCat7 {
	width:260px;
	height:205px;
	background-color:black;
	border-radius:3px;
	text-align:center;

}

#topCat4 {
	margin-left:10px;
}

#topCatBottomRow .thumbnailInfo {
	position:relative;
	top:130px;
	color:black;
	background-color:white;

}
 #topCatBottomRow .thumbnailInfo .thumbnailTitle {
 	text-align:center;
 }


.resultsSpaceLine {
	padding:15px;
	height:0px;
	width:1090px;
	border-bottom:1px solid rgba(125,125,125,0.2);

	/*position:relative;
	top:-340px;*/

	margin-left:10px;
	margin-bottom:20px;
}

#category {
	padding-left:10px;
	display:flex;
}

#category i {
	padding-left: 5px;
	padding-right: 5px;
	font-size:11px;
	line-height:50px;
}

#userSearch {
	padding-right: 5px;
}

#resultsList {
	display:flex;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: space-between;
}

.resultThumbnail {
	width:255px;
	height:250px;
	background-color:black;
	border-radius:5px;
	margin-bottom:15px;
	overflow:hidden;
}

.resultThumbnailPic {
	height:200px;
	width:255px;
}

.resultThumbnailInfo {
	background-color: white;
	height:35px;
	width:255px;
	position:relative;
	top:15px;
	border-radius:0 0 5px 5px;
}

.resultThumbnailInfo p {
	margin: 0;
}

.resultThumbnailTitle {
	line-height:12px;
	font-size:12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	padding:5px;
}

.resultInfoBottom {
	display:flex;
	flex-direction:row;
	position:relative;
	top:-20px;
	justify-content: space-between;
	padding:0 5px;
}

.resultInfoBottom p {
	line-height:12px;
	font-size:12px;
}

.resultThumbnailSeller {
	color:grey;
}

.resultThumbnailPrice {
	color: #80C44E;
}

.thumbnailImage {
	width:255px;
	height:auto;
	margin:auto;
	line-height:200px;
}

#footerArea {
	width:1425px;
	clear:both;
	display:flex;
	justify-content: center;
	font-family: arial, sans-serif;
}

#footerArea form {
	display: flex;
	justify-content: center;
}

#footerArea form input[type=email] {
	width:333px;
	height:35px;
	line-height:20px;
	background:none;
	border-radius:3px 0 0 3px;
	border:1px solid rgba(150, 150, 150, 0.5);
	padding-left:7px;
	font-size:15px;
}

#footerArea form input[type=email]:focus {
	border: 1px solid black;
	outline:none;
}

#footerArea form button {
	height:35px;
	line-height:35px;
	background-color:#3CB1CB;
	border:none;
	color:white;
	text-align:center;
	font-size:15px;
	padding:0 10px;
	margin:0;
	border-radius:0 3px 3px 0;
	cursor:pointer;
	position:relative;
	left:-5px;
}

#footerDivLine {
	width:100%;
	height:0;
	border-bottom:1px solid rgba(125,125,125,0.2);
	margin-top:40px;
}

#footerOptionsLists {
	display:flex;
	margin: auto;
	justify-content: center;
	font-family:arial;
}

#footerColumn1 , #footerColumn2 , #footerColumn3, #footerColumn4, #footerColumn5{
	display:inline-block;
	width:230px;
	padding:0 15px;
}

.footerColumnHeader {
	font-weight:600;
	font-size:14px;
}

.footerColumnList {
	list-style-type: none;
	padding:0;
	font-size:13px;
	color: rgba(0,0,0,0.7);
}

.footerColumnList li {
	height:28px;
	line-height:28px;
}

#footerColumn1 button {
	width:100px;
	height:30px;
	background-color:#3CB1CB;
	outline:none;
	border:none;
	border-radius:4px;
	color:white;
	font-size:12px;
	padding:0 12px;
	line-height:30px;
}

#footerColumn5 ul li i {
	margin-right:5px;
}